{
  "openapi": "3.0.3",
  "info": {
    "title": "IDMerit Verification API",
    "version": "1.0.1",
    "description": "API for identity verification using IDMerit /v2.1/verify endpoint."
  },
  "servers": [
    {
      "url": "https://api2.idmerit.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Verification",
      "description": "Identity verification endpoints"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v2.1/verify": {
      "post": {
        "tags": ["Verification"],
        "summary": "Verify Identity",
        "operationId": "verifyIdentity",
        "description": "Submits an identity verification request using personal and contact information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "example": {
                "request_id": "sample_id",
                "source": "5",
                "country_code": "DE",
                "first_name": "abc",
                "last_name": "xyz",
                "address": "xx-xxx",
                "city": "xx",
                "zip": "123456",
                "phone": "1234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your Bearer token in the format: Bearer <token>"
      }
    },
    "schemas": {
      "VerifyRequest": {
        "type": "object",
        "required": [
          "request_id",
          "source",
          "country_code",
          "first_name",
          "last_name"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Unique request identifier"
          },
          "source": {
            "type": "string",
            "description": "Source system identifier"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 2-letter country code",
            "example": "DE"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number including country code"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Verification result status"
          },
          "score": {
            "type": "number",
            "format": "float"
          },
          "message": {
            "type": "string"
          },
          "raw_response": {
            "type": "object",
            "additionalProperties": true,
            "description": "Complete raw response from IDMerit"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  }
}