{
  "openapi": "3.0.3",
  "info": {
    "title": "IDMerit Verification API",
    "version": "1.0.1",
    "description": "API for identity verification via IDMerit /v2.1/verify endpoint."
  },
  "servers": [
    {
      "url": "https://api2.idmerit.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/v2.1/verify": {
      "post": {
        "summary": "Verify Identity",
        "description": "Submits identity verification request using personal and contact information.",
        "operationId": "verifyIdentity",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "example": {
                "request_id": "0000TEST-DS",
                "source": "5",
                "country_code": "DE",
                "first_name": "Urjaben",
                "last_name": "Patel",
                "address": "Mainstrasse",
                "city": "Darmstart",
                "zip": "64283",
                "phone": "4915510194127"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing Bearer token"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "VerifyRequest": {
        "type": "object",
        "required": [
          "request_id",
          "source",
          "country_code",
          "first_name",
          "last_name"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Unique request identifier"
          },
          "source": {
            "type": "string",
            "description": "Source system identifier"
          },
          "country_code": {
            "type": "string",
            "description": "ISO country code (e.g., DE)",
            "example": "DE"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number including country code"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "description": "Generic verification response structure",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Verification status"
          },
          "score": {
            "type": "number",
            "format": "float"
          },
          "message": {
            "type": "string"
          },
          "raw_response": {
            "type": "object",
            "description": "Complete raw response from IDMerit"
          }
        }
      }
    }
  }
}